<div class="fullcontainer">
    <div class="leftpanel">
        <div class="questions">

            <h1>
                QUESTIONS?
            </h1>
        </div>
        <br>
        <div class="bearcat-logo">
            <img src="https://pbs.twimg.com/profile_images/1161539125981392896/6Ybr3mdG_400x400.jpg" 
            alt="Baby Bearcat" width="200px" height="200px">
        </div>

        <div class="get-in-touch">
            <h1>
                GET IN TOUCH!
            </h1> 
        </div>
        

    </div>

    <div class="rightpanel">
        <div class="email-txtbox">
            <label for="Email">Email:</label>
            <input type="text" id="Email" name="Email" placeholder="6+2@uc.mail.edu" 
            size="40" style="height: 40px">
            <br><br>
        </div>
        <div class="name-txtbox">
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Name" placeholder="First and Last" size="40">
            <br><br>
        
        </div>
        <div class="how-to-help-txtbox">
            <label for="help-txtbox">Tell us how to help!:</label>
            <br>
            <textarea id="help-txtbox" name="help-txtbox" rows="4" cols="50">
            </textarea>
            <br>
        </div>

        <div class="submit-questions">
            <br>
            <button class="send-button">
                SUBMIT
            </button>
            <br>
        </div>
  

    </div>
</div>