<div class="fullcontainer">
    <div class="leftpanel">
        <div>
            <h1>
                QUESTIONS?
            </h1>
            
            <h2>
                GET IN TOUCH!
            </h2>
            
        </div>

    </div>


    <div class="rightpanel">
        <div class="email-txtbox">
            <label for="Email">Email:</label>
            <input type="text" id="Email" name="Email" placeholder="6+2@uc.mail.edu" size="40">
            <br><br>
        </div>
        <div class="name-txtbox">
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Name" placeholder="Firstname and Lastname" size="40">
            <br><br>
        
        </div>
        <div class="how-to-help-txtbox">
            <label for="help-txtbox">Tell us how to help!:</label>
            <textarea id="help-txtbox" name="help-txtbox" rows="4" cols="50">
            </textarea><br><br>
        </div>

        <div class="submit-questions">
            <button class="send-button">
                SUBMIT
            </button>
        </div>
  

    </div>
</div>