<div class="fullconatin">
  <div class="leftpanel">
    <div class="panelcenter">
      <div class="mainheading">
        <h1>
          HAVE NO FEAR
          <br />
          <span style="color: white">BEARCAT</span>HELPER
          <br />
          IS HERE!
        </h1>
      </div>

      <div class="minorheading">
        <p>
          A
          <span style="font-weight: 300; font-style: italic">modern</span>
          aproach to at home to
          <span style="font-weight: 300; font-style: italic">at home</span>
          tutoring.
        </p>
      </div>
      <a class="btn2">About Us</a>
      <a class="btn2">Contact the team</a>
    </div>
  </div>
  <div class="rightpanel">
    <div class="bigbuttoncenter">
      <a class="btn">LET'S GET TO WORK →</a>
    </div>
  </div>
</div>
