body {
    background-color: white;
    color: white;
    overflow: hidden;
}

.mainheading {
  font-size: 2vw;
  color: black;
  line-height: 2em;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 100px;
  margin-left: 100px;
}

.minorheading {
  color: black;
  font-size: 1.5vw;
  font-weight: 450;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 100px;
  margin-left: 100px;
}

.book-logo {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 100px;
  margin-left: 100px;
}