
<div class="mainheading">
    <h1>
    ABOUT US
    </h1>
</div>

<div class="minorheading">
    <p>
    Because your success is our success, BearcatHelper is a user helping users web app designed to help your grades
    <br />
    improve. Best part yet, we are created for students, by students. Go Bearcats!
    </p>
</div>

<div class="book-logo">
    <img src="../../assets/about-book.png"
    alt="book">
</div>

<div class="minorheading">
    <p>
    Simply select your role and get connected to a user instantly! Easily chat and share files to give/get help easily.
    </p>
</div>