<div class="mainheading">
    <h1>
    ABOUT US
    </h1>
</div>

<div class="minorheading">
    <p>
    Because your success is our success, BearcatHelper is a
    <br />
    user helping users web app designed to help your grades
    <br />
    improve. Best part yet, we are created for students, by
    <br />
    students. Go Bearcats!
    </p>
    <img src="https://mailuc-my.sharepoint.com/:i:/g/personal/bealshm_mail_uc_edu/Ebc1P6cGEfBKgXKFizBY9GABD92uB6cOq6_w-GUl_5XKiQ?e=Rooo6t">
</div>


<div class="minorheading">
    <p>
    Simply select your role and get connected to a user
    <br />
    instantly! Easily chat and share files to give/get help easily.
    </p>
</div>