/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
}

.btn {
  text-decoration: none;
  background-color: #db4545;
  border: 1px solid #db4545;
  border-radius: 4px;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  margin: 5px;
  overflow: hidden;
  padding: 0 22px;
  text-align: center;
  text-transform: uppercase;
  backdrop-filter: blur(10px);
  transition: all 0.2s ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:hover {
  background-color: transparent;
  color: #db4545;
}

.btn:active {
  background-color: #db4545;
  color: white;
}

.btn2 {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  margin: 5px;
  overflow: hidden;
  padding: 0 22px;
  text-align: center;
  text-transform: uppercase;
  backdrop-filter: blur(10px);
  transition: all 0.2s ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn2:hover {
  background-color: transparent;
  color: black;
}

.btn2:active {
  background-color: #000;
  color: white;
}

.centercontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

input {
  margin: 5px;
  padding: 10px 10px;
  background-color: transparent;
  color: black;
  text-decoration: none;
  border: 0;
  outline: 0;
  border: 1px solid black;
  font-size: 1.2em;
}

.link {
  display: inline-block;
  font-weight: 600;
  padding: 1px 1px;
  cursor: pointer;
  border-bottom: 1px solid black;
  color: black;
  text-decoration: none;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.link:hover {
  cursor: pointer;
}
