<h1>CREATE AN ACCOUNT</h1>
<input
  style="width: 90%"
  placeholder="Email"
  type="text"
  id="email"
  name="email"
/>
<br />
<input
  style="width: 90%"
  placeholder="Username"
  type="text"
  id="username"
  name="username"
/>
<br />
<input
  style="width: 90%"
  placeholder="Password"
  type="password"
  id="password"
  name="password"
/>
<input
  style="width: 90%"
  placeholder="Password again"
  type="password"
  id="passwordc"
  name="passwordc"
/>
<br />
<a class="btn" style="width: 85%">CREATE</a>
<a (click)="switchToLogin()" class="link">I have an account</a>
